<?xml version="1.0" encoding="UTF-8"?>
{% block content %}
{% autoescape true %}
<mods version="3.7" xmlns="http://www.loc.gov/mods/v3" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-7.xsd">
	
	<titleInfo>
		<title>{{ data.title|trim|escape }}</title>
	</titleInfo>
	
	{% if attribute(data, 'title_alternative') %}
	<titleInfo type="alternative">
		<title>{{ data.title_alternative|trim|escape }}</title>
	</titleInfo>
	{% endif %}
	
	{% if attribute(data, 'name_creator_primary') %}
	{% for creator in attribute(data, 'name_creator_primary')|split (';') %}
	<name>
		<namePart>{{ creator|trim }}</namePart>
		<role>
			<roleTerm authority="marcrelator" type="text">Creator</roleTerm>
		</role>
	</name>
	{% endfor %}
	{% endif %}
	
	
	{% if attribute(data, 'name_creator_others') %}
	{% for creator in attribute(data, 'name_creator_others')|split (';') %}
	<name>
		<namePart>{{ creator|trim }}</namePart>
		<role>
			<roleTerm authority="marcrelator" type="text">Creator</roleTerm>
		</role>
	</name>
	{% endfor %}
	{% endif %}
	
	{% if attribute(data, 'department_name') %}
	<name type="corporate">
		<namePart>{{data.department_name|trim }}</namePart>
		<affiliation>Illinois Institute of Technology</affiliation>
		<role>
			<roleTerm type="text">Affiliated department</roleTerm>
		</role>
	</name>
	{% endif %}
	
	{% if attribute(data, 'subject_topic') %}
	{% for topic in attribute(data, 'subject_topic')|split ('||') %}
	<subject>
		<topic>{{ topic|trim }}</topic>
	</subject>
	{% endfor %}
	{% endif %}
	
	
	{% if attribute(data, 'date_created') or attribute(data, 'date_start') or attribute(data, 'date_end')  %}
	<originInfo>	
		{% if attribute(data, 'date_created') %}
		<dateCreated encoding='iso8601' keyDate="yes">{{ data.date_created|trim }}</dateCreated>
		{% endif %}
		{% if attribute(data, 'date_start') %}
		<dateCreated keyDate='yes' encoding='iso8601' point='start'>{{ data.date_start|trim }}</dateCreated>
		{% endif %}
		{% if attribute(data, 'date_end') %}
		<dateCreated keyDate='yes' encoding='iso8601' point='end'>{{ data.date_end|trim }}</dateCreated>
		{% endif %}
	</originInfo>
	{% endif %} 	
	
	{% if attribute(data, 'abstract') %}
	<abstract>{{ data.abstract|trim|escape }}</abstract>
	{% endif %} 
	
	{% if attribute(data, 'note') %}
	<note>{{ data.note|trim|escape }}</note>
	{% endif %} 
	
	{% if attribute(data, 'type') %}
	{% for type in attribute(data, 'type')|split (';') %}
	<typeOfResource>{{ type|trim }}</typeOfResource>
	{% endfor %}
	{% endif %} 
	
	{% if attribute(data, 'physdesc_form') or attribute(data, 'digital_origin') or attribute(data, 'mime_type') %}
	<physicalDescription>
		<form>{{ data.physdesc_form|trim }}</form> 
		<digitalOrigin>{{ data.digital_origin|trim|lower }}</digitalOrigin>
		<internetMediaType>{{ data.mime_type|trim|lower }}</internetMediaType>
	</physicalDescription>
	{% endif %} 
	
	{% if attribute(data, 'language') %}
	{% for language in attribute(data, 'language')|split (';') %}
	<language>
		<languageTerm type="code" authority="iso639-2b">{{ language|trim }}</languageTerm>
	</language>
	{% endfor %}
	{% endif %} 
	
	{% if attribute(data, 'identifier_local') %}
	<identifier type="local">{{  data.identifier_local|trim|escape }}</identifier>
	{% endif %} 
	
	
	{% if attribute(data, 'related_resource') %}
	<relatedItem>
		<identifier type="otherFormat">{{ data.related_resource|trim|escape }}</identifier>
	</relatedItem>
	{% endif %} 
	
	{% if attribute(data, 'rightsstatements') %}
	<accessCondition type='useAndReproduction' displayLabel='rightsstatements.org'>{{ data.rightsstatements|trim|escape }}</accessCondition>
	{% endif %} 
	
	{% if attribute(data, 'rightsstatements_uri') %}
	<accessCondition type='useAndReproduction' displayLabel='rightsstatements.orgURI'>{{ data.rightsstatements_uri|trim|escape }}</accessCondition>
	{% endif %}
	
	{% if attribute(data, 'access_restriction') %}
	<accessCondition type='restrictionOnAccess'>{{ data.access_restriction|trim|escape }}</accessCondition>
	{% endif %}
	
	{% if attribute(data, 'part_of') or attribute(data, 'location') %}
	<relatedItem type="host" displayLabel="Collection">
		<titleInfo>
			<title>{{ data.part_of|trim|escape }}</title>
		</titleInfo>
		<location>
			<physicalLocation>{{ data.location|trim|escape }}</physicalLocation>
		</location>
	</relatedItem>
	{% endif %} 
	
	<recordInfo>
		<languageOfCataloging>
			<languageTerm authority="iso639-2b" type="code">eng</languageTerm>
		</languageOfCataloging>
	</recordInfo>
</mods>
{% endautoescape %}
{% endblock %}